<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Clínica</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="form-container">
        <div class="logo-container">
            <img src="C:\Users\Maria\Downloads" alt="Logo da Empresa" class="logo">
        </div>

        <form action="pacientes.html" method="post">
            <h3><b>Login Clínica</b></h3>

            <div class="input-container"> 
                <label for="name">Nome:</label>
                <input id="name" name="name" type="text" placeholder="Digite seu nome">
            </div>

            <div class="input-container">
                <label for="cnpj">CNPJ:</label>
                <input id="cnpj" name="cnpj" type="text" placeholder="Digite o CNPJ">
            </div>

            <div class="input-container">
                <label for="senha">Senha:</label>
                <input id="senha" name="senha" type="password" placeholder="Digite sua senha">
                <span class="eye-icon" onclick="togglePassword()">👁️</span> <!-- Ícone para exibir/ocultar a senha -->
            </div>

            <button type="submit" class="entrar">Entrar</button>
            <br><br>
            <form action="nova_clinica.html" method="post">
                <div style="text-align: center;">
                    <button type="submit" class="link-button">Nova clínica</button>
                </div>
            </form>
        </form>
    </div>

    <script>
        function togglePassword() {
            const senhaInput = document.getElementById('senha');
            if (senhaInput.type === "password") {
                senhaInput.type = "text"; // Exibe a senha
            } else {
                senhaInput.type = "password"; // Oculta a senha
            }
        }
    </script>
    <script src="../assets/js/renderer.js"></script>
    
</body>
</html>
